<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TotalLines</key>
	<integer>0</integer>
	<key>TotalSeconds</key>
	<integer>0</integer>
	<key>BeginDate</key>
	<string></string>
</dict>
</plist>
